//primary

$primary-color: #2d2640;
$secondary-color: #fafafa;
$accent-color: #95a9c6;
$dark-text-color: #2b272f;
$light-text-color: #837d87;


/*
    --color-success: #88c459;
    --color-error: #f5414f;
    --color-warning: #ffd137;
  */
